*{
  margin: 0;
  padding: 0;
  color: #8A8BA5;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
.App {
  background-image: linear-gradient(to top left, rgb(54, 11, 80) , rgb(181, 123, 219));
  width: 100%;
  height: 100vh;
  display: flex;
  
}

.Container{
  flex: 1;
  display: flex;
  gap: 20px;
  margin: 70px 100px;
  padding: 0 100px;
  background-color: #121215;
  border-radius: 25px;
  position: relative;
}

.side-main{
  background-color: #18181c;
  margin: 150px 0 50px 0;
  border-radius: 25px;
}
/* Sidebar  */
.Sidebar{
  flex: 1;
}

.Main{
  flex: 3;
  
}

/* User  */
.User{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  right: 0;
}

.User .logo{
  font-family: "Jost", sans-serif;
  font-size: 50px;
  width: 100%;
  margin: 40px 0 0 100px;
}
.User .logo p{
  color: white;
  
}

.User .logo span{
  color: blueviolet;
}

.User .username-logout{
  margin: 40px 100px 0 0 ;
}

/* Modal  */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

}

.Modal .container{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  
}




/* AddNewTodo  */
.AddNewTodo .btn button{
  position: absolute;
  right: 140px;
  bottom: 80px;
  color: white;
  background: linear-gradient(to top left, #8867f5, #9100f7);
  width: 150px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.AddNewTodo .btn button:hover{
  filter: brightness(1.1);
  transition: all 300ms ease;
}

/* AddNewTodo form  */
.AddNewTodo form{
  padding: 50px;
  width: 500px;
  background-color: #121215;
  border-radius: 25px;
}

.AddNewTodo form .text h3{
  padding-bottom: 1rem;
  color: #ACAFF3;
}


.AddNewTodo form .text input{
  padding: 1rem;
  width: 100% ;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.2rem;
  background-color: #2F2D36;
  border-radius: 25px;
}

.AddNewTodo form .text input:focus{
  outline: none;
  border: 1px solid #8867f5;
}

.AddNewTodo form .remind{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.AddNewTodo form p{
  margin-left: 10px;
}

.AddNewTodo form .title{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.AddNewTodo form .pick-day{
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.AddNewTodo form .pick-time{
  padding: 1.5rem;
}

.AddNewTodo form .pick-project{
  padding: 0.5rem;
}

.AddNewTodo form .pick-project .projects{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.AddNewTodo form .pick-project .projects .project{
  border: 1px solid #2F2D36;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.AddNewTodo form .pick-project .projects .active{
  background-color: #8867f5;
  color: white;
}

.AddNewTodo form .cancel{
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}


.AddNewTodo form .confirm{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.AddNewTodo form .confirm button{
  width: 100%;
  height: 60px;
  color: white;
  background: linear-gradient(to top left, #8867f5, #9100f7);
  border: none;
  border-radius: 0 0 4px 4px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.AddNewTodo form .confirm button:hover{
  filter: brightness(1.1);
  transition: all 300ms ease;
}

/* Calendar  */
.Calendar{
  padding: 1rem;
  border-bottom: 1px solid #2F2D36;
}

.Calendar .header{
  display: flex;
  align-items: center;
}

.Calendar .header .title{
  display: flex;
  align-items: center;
  flex: 1;
}

.Calendar .header .title p{
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ACAFF3;
}

.Calendar .header .btns span{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Calendar .header .btns span:hover{
  background-color: #2F2D36;
  transition: all 300ms ease-in-out;
}

.Calendar .items {
  padding: 0.5rem;
}

.Calendar .items .item{
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

/* Projects  */
.Projects{
  padding: 1rem;
  border-bottom: 1px solid #2F2D36;
}

.Projects .header{
  display: flex;
  align-items: center;
}

.Projects .header .title{
  display: flex;
  align-items: center;
  flex: 1;
}

.Projects .header .title p{
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ACAFF3;
}

.Projects .header .btns{
  display: flex;
  align-items: center;
}

.Projects .header .btns span.edit{
  margin-right: 5px;
}

.Projects .header .btns span{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Projects .header .btns span:hover{
  background-color: #2F2D36;
  transition: all 300ms ease-in-out;
}

.Projects .items{
  padding: 0.5rem;
}

/* Project  */
.Project{
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  position: relative;
}

.Project .name{
  cursor: pointer;
  word-break: break-all;
}

.Project .btns{
  display: flex;
  align-items: center;
}

.Project .btns .total-todos{
  position: absolute;
  right: 0;
  background-color: #2F2D36;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ACAFF3;
  font-size: 0.9rem;
}

.Project .btns .edit-delete{
  position: absolute;
  right: 0;
  display: flex;
}

.Project .btns .edit-delete span{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 300ms ease-in-out;
}

.Project .btns .edit-delete span.edit:hover{
  background-color: #acffac;
}

.Project .btns .edit-delete span.delete:hover{
  background-color: #ffacac;
}